*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #4c5e6f;
  background-color: #f5f8fa;

}

/* ------------------------------- */
/* /GENERAL RULES START*/
/* ------------------------------- */
.container{
  width: 80%;
  margin: 0 auto;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.relative{
  position: relative;
}

a{
  text-decoration: none;
  color: #4c475b;
}

.btn{
  border-radius: 8px;
}

.btn.orange{
  background-color: #ff7a59;
  color: white;
  padding: 10px 15px;
}
/* ------------------------------- */
/* /GENERAL RULES END*/
/* ------------------------------- */


/* ------------------------------- */
/* START HEADER */
/* ------------------------------- */
header{
  background-color: #fff3ee;
}

nav{
   background-color: white;
}

.nav-top-col{
  width: 50%;
  height: 100px;
}

/* box nav-top */
.nav-top{
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #f5f8fa;
}

ul li{
    list-style: none;
    font-size: 14px;
    }

.nav-top-col ul li, .nav-bottom-col.dx ul li{
  display: inline-block;
}

.sx ul li a{
  padding-right: 30px;
}

.dx ul li a{
  padding-left: 18px;
}

/* ------------ */
/* nav.bottom layout */

.nav-bottom{
  width: 100%;
  height: 100px;
  border-top: 2px solid black;
  margin-top: 102px;
}

.nav-bottom-col.sx{
  width: 30%;
}
.nav-bottom-col.dx{
  width: 70%;
}

.nav-bottom-col.sx img{
  margin-top: 25px;
  width: 180px;
}


.nav-top-col ul, .nav-bottom-col.dx ul{
  line-height: 100px;
}

.nav-top-col.dx ul, .nav-bottom-col.dx ul{
  text-align: right;
}

#vertical-line{
  margin-right: 8px;
}

#push-login{
  background-color: white;
  color: #ff7a59;
  border-radius: 8px;
  border: 2px solid #ff7a59;
  padding: 10px 15px;
  margin-right: 20px;
}

.nav-bottom-col.dx ul li{
  padding-left: 40px;
}

.icon.search{
  margin-right: 10px;
  color: #01b0cb;
}

/* start jumbotron */
.jumbotron{
  width: 100%;
  height: 700px;
  background-image: url('../img/jumbotron.png');
  background-position: 50%, 70%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 5px 8px rgba(0,0,0,0.3);
}

.layoutrow{
  height: 85px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #afebe4, #35c4b0, #009e88);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.information-title{
  width: 35%;
  position: absolute;
  left: 0;
  top: 80px;
}

.information-title h1{
  font-size: 40px;
  margin-bottom: 20px;
}

.information-title p{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 60px;
  color:   color: #4c475b;
}

.information-title a{
  text-align: center;
  font-size: 30px;
}


.information-title h4{
  margin-top: 60px;
}

.btn.orange.main{
  padding: 20px 10px;
  font-size: 20px;
}
/* ------------------------------- */
/* HEADER */
/* ------------------------------- */



/* ------------------------------- */
/* MAIN START */
/* ------------------------------- */

.row{
  margin-bottom: 50px;
}

/* FIRST ROW */
.row.first{
  text-align: center;
  margin-top: 50px;
  height: 400px;
}

.cubo-text{
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cubo.img{
  text-align: center;
  width: 100%;
  height: 50%;
  background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px;
  padding-top: 30px;
}

.cubo-text h2{
  margin: 20px;
  font-size: 30px;
  color: #33475b;
}

.cubo-text p{
  margin: 0px 50px;
}
/* ------------------ */
/* end first row/ */

/* start second row */
section.second{
  height: 350px;
  background-color: white;
  box-shadow: inset 0px 0px 5px rgba(50,71,90,0.5);
  border-radius: 8px;
}

.row.second .learn.more{
  width: 35%;
  text-align: center;
}

.row.second .learn.feature{
  width: 65%;
}

.learn.more img{
  width: 200px;
  height: 200px;
  margin-top: 40px;
}

.learn-btn {
  margin-top: 20px;
}

.learn-btn a.btn.orange{
  padding: 20px 20px;
}
.learn.feature > *:not(fourth-child){
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 35px;
}
.learn.feature h2{
  margin-top: 70px;
  font-size: 25px;
  color: #33475b;
}

.learn.feature p{
  margin-right: 15%;
  line-height: 1.6;
  font-size: 15px;
}
.popular{
  text-transform: uppercase;
  color: #33475b;
}

#bar::after{
  content: '';
  display: inline-block;
  border: 1px solid black;
  width: 60%;
  margin-bottom: 5px;
  margin-left: 40px;
}

ul.item-contacts li{
  display: inline-block;
  padding-right: 60px;
  padding-left: 12px;
}
ul.item-contacts i{
  color: #ff7a59;
  padding-right: 5px;
}


/* ---end second row------ */

/* start third row */
/* RIGA 3 */

.row.third .box{
  text-align: center;
  padding: 20px;
  box-shadow: inset 0px 0px 5px rgba(50,71,90,0.5);
  border-radius: 8px;
}
.box{
  width: 30%;
  height: 650px;
  background-color: white;
}

.box.sales{
  margin-left: 5%;
  margin-right: 5%;
}
.box > p{
  line-height: 1.6;
}
.box *:not(li){
  margin-top: 10px;
}
ul.menu-box li i{
  color: #ff7a59;
  padding-right: 5px;
}

.img-row-third{
  width: 150px;
}
.img-hub{
  width: 100%;
  height: 200px;
}
.sales{
  padding-top: 30px;
}
.menu-box{
  text-align: left;
  padding-left: 10%;
  margin-top:
}

.box > .btn.orange{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 40px;
}
/* /third row */

/* start fourth row */
/* /fourth row */
.row.fourth{
  width: 100%;
  height: 780px;
  color: white;
  background: linear-gradient(to left, #00acb5,#00b2af,#00b6ab,#00bda5);
}
/* start subrow text */
.subrow.text{
text-align: center;
margin-bottom: 80px;
}
/* /subrow-text */
.subrow-details{
  width: 80%;
  height: 300px;
}

.statistics{
  width: 25%;
  text-align: center;
  border: none;
}



.statistics ul li{
  line-height: 1.6;
}

.value{
  font-size: 40px;
  font-weight: 700;
}

.img-special{
  width: 150px;
}

#img-small{
  width: 44px;
}
.subrow.text > *{
  margin: 40px 0;
}


ul.menu-details-bottom{
  border-top: 1px solid white;
  padding-top: 20px;
}


.statistics ul{
  border-right: 1px solid white;
}

.subrow.text {
  padding: 50px;
}
.statistics:nth-child(4n+0) ul{
  border-right: none;
}
/* ------------------------ */
/* START FIFTH RAW */
/* --------------------- */

.row.fifth{
  margin-bottom: 100px;
}

.numbers, .partners{
  height: 300px;
}

.numbers{
  width: 40%;
}

.numbers-text{
  width: 50%;
  margin: auto;
}

.numbers-text h2{
  font-size: 60px;
  font-weight: 700;
}
.numbers-text{
  text-align: center;
}
.partners{
  width: 60%;
}



/* layout img parterners */
.special-partners{
  width: 140px;
}

.sopra, .sotto{
  width: 100%;
  height: 50%;
}
.partner li{
  display: inline-block;
}

ul.partners{
  text-align: right;
}


/* ---------------------------- */

/* ---------------------------- */


/* ---------------------------- */

/* ---------------------------- */
.join-left, .join-right{
  width: 50%;
  height: 500px;
}

.join-left h2{
  font-size: 40px;
}

.join-left p{
  line-height: 1.6;
}

.join-left > *{
  margin-bottom: 40px;
  margin-top: 50px;
}


.btn.orange.final{
  position: absolute;
  bottom: 20%;
}
/* --------------- */

.join-right{
  text-align: center;
}
#img-join{
  width: 60%;
  margin-top: 50px;
}

.size-info{
  position: absolute;
  left: 0;
  bottom: 10%;
}
/* ------------------------------- */
/* /MAIN END */
/* ------------------------------- */












/* ------------------------------- */
/* /FOOTER START*/
/* ------------------------------- */
 footer{
  background-color: #2d3e50;
  height: 500px;
}

footer > *, i, a{
  color: #cbd6e2;
}

footer .container{
  height: 100%;
}
.information{
  width: 25%;
  height: 200px;
  padding: 10px 0px;
}
.information h4{
  margin-bottom: 20px;
}
ul > *{
  line-height: 1.8;
}

ul > a{
  font-weight: 300;
}


.social{
  width: 300px;
  height: 90px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translatey(-50%);
}

.btn.grey{
  font-size: 15px;
  background-color: #f5f8fa;
  color: #4c5e6f;
  padding: 10px 15px;
  position: absolute;
  left: 0;

}

.icon-social{
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.icon-social *{
  line-height: 40px;
  font-size: 20px;
  padding-right: 5px;
}

.copyright{
  width: 100%;
  height: 210px;
  position: absolute;
  bottom: 0px;
}

.languages{
  height: 30%;
  width: 100%;
}

.languages{
text-align: center;
border-bottom: 1px solid #cbd6e2;
}

.languages span a{
  padding: 0px 20px;
  line-height: 80px;
}

.img-copy, .privacy-policy{
  width: 35%;
  height: 70%;
  padding-top: 40px;
}

.privacy-policy{
  text-decoration: underline;
  text-align: right;
  }

  .privacy-policy span{
    padding-left: 10px;
    font-weight: 200;
  }
/* ------------------------------- */
/* /FOOTER END*/
/* ------------------------------- */
