*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------------------- */
/* /GENERAL RULES START*/
/* ------------------------------- */
.container{
  width: 80%;
  margin: 0 auto;
}

.float-left{
  float: left;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

.relative{
  position: relative;
}

a{
  text-decoration: none;
}

/* ------------------------------- */
/* /GENERAL RULES END*/
/* ------------------------------- */

/* ------------------------------- */
/* START HEADER */
/* ------------------------------- */
header{
  background-color: #fff3ee;
}


nav{
  height: 200px;
  background-color: white;
}

.nav-top, .nav-bottom{
  height: 50%;
}

.nav-bottom{
  border-top: 2px solid black;
}


/* box nav-top */
.nav-top-col, .nav-bottom-col{
  width: 50%;
  height: 100px;
}

.nav-bottom-col.sx img{
  margin-top: 25px;
  width: 180px;
}

.nav-top-col ul li, .nav-bottom-col.dx ul li{
  display: inline-block;
  list-style: none;
  font-size: 20px;
}

.nav-top-col ul, .nav-bottom-col.dx ul{
  line-height: 100px;
}

.nav-top-col.dx ul, .nav-bottom-col.dx ul{
  text-align: right;
}


.sx ul li{
  padding-right: 25px;
}

.dx ul li{
  padding-left: 18px;
}

.nav-bottom-col.dx ul li{
  padding-left: 40px;
}


.login::before{
  content: '';
  background-image: url('');
  display: block;
  width: 10px;
  height: 10px;
}







/* start jumbotron */
.jumbotron{
  width: 100%;
  height: 700px;
  background-image: url('../img/jumbotron.png');
  background-position: 100%, 70%;
  background-size: contain;
  background-repeat: no-repeat;
}

.layoutrow{
  height: 85px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #afebe4, #35c4b0, #009e88);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.information-title{
  width: 35%;
  position: absolute;
  left: 0;
  top: 80px;
}

.information-title h1{
  font-size: 60px;
  margin-bottom: 20px;
}

.information-title p{
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.information-title a{
  text-align: center;
  font-size: 40px;
}

.information-title h4{
  margin-top: 25px;
}






/* ------------------------------- */
/* HEADER */
/* ------------------------------- */

/* ------------------------------- */
/* MAIN START */
/* ------------------------------- */

.row{
  height: 400px;
  background-color: violet;
  border: 2px solid yellow;
}


/* --------- */
/* RIGA 3 */
.box{
  width: calc((100% / 3) - 20px);
  background-color: green;
  margin: 10px 10px;
  height: calc(400px - 20px);
}

/* ------------------------------- */
/* /MAIN END */
/* ------------------------------- */












/* ------------------------------- */
/* /FOOTER START*/
/* ------------------------------- */
footer{
  background-color: brown;
  height: 400px;
}

footer .container{
  height: 100%;
  background-color: red;
}

/* ------------------------------- */
/* /FOOTER END*/
/* ------------------------------- */
